<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="wikiRule1" stopProcessing="true">
          <match url="^wiki/(.*)$" />
          <action type="Rewrite" url="/fubuwiki/index.php?title={UrlEncode:{R:1}}" />
        </rule>
        <rule name="wikiRule2" stopProcessing="true">
          <match url="^wiki/$" />
          <action type="Rewrite" url="/fubuwiki/index.php" />
        </rule>
        <rule name="wikiRule3" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/fubuwiki/index.php?title={R:1}" />
        </rule>
        <rule name="wikiRule4" stopProcessing="true">
          <match url="^/*$" />
          <action type="Rewrite" url="/fubuwiki/index.php" />
        </rule>
      </rules>      
    </rewrite>
  </system.webServer>
</configuration>